<section class="heading-section">

  <h1 class="title is-1 has-text-centered">Todos</h1>

</section>

<div class="container">
  <div class="add-todo-box">
    <form>

      <h2 class="subtitle is-5">New Todo</h2>

      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Type todo text here ...">
        </p>
        <p class="control">
          <button class="button alt-gradient-button">
            <span class="material-symbols-outlined">Add</span> 
            <div class="button-text">Add</div>
          </button>
        </p>
      
      </div>

    </form>
  </div>
</div>

<section class="section">
  <div class="container">
    
    <div class="todos-list">

      <div class="todo-item completed">
        <div class="check-box">
          <span class="material-symbols-outlined">check</span>
        </div>
        <div class="todo-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto facilis est adipisci ratione earum fuga enim, nam deleniti minima excepturi. Dicta, quam odit voluptatum dignissimos et neque dolore unde quaerat.
        </div>
      </div>

      <div class="todo-item">
        <div class="check-box">
          <span class="material-symbols-outlined">check</span>
        </div>
        <div class="todo-text">
          This line only has one line of text.
        </div>
        <div class="todo-controls-box">
          <div class="todo-control-button">
            <span class="material-symbols-outlined">edit</span>
          </div>
          <div class="todo-control-button">
            <span class="material-symbols-outlined">delete</span>
          </div>
        </div>
      </div>

    </div>
    
  </div>
</section>